@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: grey;
    text-align: center;
    margin-top: 45%;
    color: whitesmoke;
}

.main-container {
    border: 5px solid whitesmoke;
}
